# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Python cache
.pytest_cache/

# Build
dist/
build/

# Streamlit
.streamlit/secrets.toml
